<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="../../static/core/index.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>  </head>

  <body>
    <!-- BANNERS -->
    <div class="container-fluid text-center">
      <div class="row g-0 banner">
        <div class="col-md-6 order-md-first">
          <img class="img-fluid" id="banner_img_1" src="../../static/core/1.jpg"/>
        </div>
        <div class="col-md-6 order-md-last" id="banner_text_1">
          <span>Indulge in the finest of coffee in the world that is roasted with expertise and care</span>
        </div>
      </div>
      <div class = "row g-0 banner">
        <div class="col-md-6 order-md-last">
          <img class="img-fluid" id="banner_img_2" src="../../static/core/2.jpg"/>
        </div>
        <div class="col-md-6 order-md-first" id="banner_text_2">
          <span>Our methods consider coffee and roasting as an art that should be respected and cared for</span>
        </div>
      </div>
      <div class="row g-0 banner">
        <div class="col-md-6 order-md-first" id="IMG3">
          <img class="img-fluid" id="banner_img_3" src="../../static/core/3.jpg"/>
        </div>
        <div class="col-md-6 order-md-last" id="banner_text_3">
          <span>Our coffee is sourced from sustainable farms that care for the farmers and the environment</span>
        </div>
      </div>
    </div>
  </body>

</html>
