<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>

  <style>
    .form{
      display: block;
      margin-left:auto;
      margin-right:auto;
      width:15%;
    }
    .field{
      margin-bottom: 30px;
    }
    input{
      width : 250px;
    }
  </style>

  <body class="form">
    <p>Welcome :)</p>
    
    <form method="post" action="{% url 'core:register' %}">
        {% csrf_token %}
        <p>Please let us know more about you</p><br>
        <div class="field">
            <label for="phone">Phone:</label><br>
            <input type=" tel" id="phone" name="phone">
        </div>
        <div class="field">
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email">
        </div>
        <p>Please provide your credentials</p><br>
        <div class="field">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="uname">
        </div>
        <div class="field">
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="pswd">
        </div>
        {% if error %}<p><strong>{{ error }}</strong></p>{% endif %}
        <br>
        <a href="{% url 'core:login' %}">Already a customer?</a><br><br>
        <input type="submit">
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>